<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if task_list %}
        <table>
            <tr>
                <td>Aufgabe:</td>
                <td>Status:</td>
            </tr>
            {% for task in task_list %}
            <tr>
            <td>{{task.text}}</td>
            <td>{{task.task_translation}}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Derzeitig nichts zu tun, such dir etwas Neues</p>
    {% endif %}
    <form action="{% url 'add_task' %}" method="POST">
        {% csrf_token %}
        <input type="text" value="" id="text" name="text" placeholder="neue Task">
        <input type="submit" value="Neu Anlegen">



    </form>
</body>
</html>