{% extends 'shop_manager/base.html' %}
{% block title %}Startseite{% endblock title %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <h1>Die Coolste Einkaufsliste</h1>
    </div>
    <div class="row">
        <div class="col">

            <div class="container">
                <h3>Shop Liste</h3>
                <ul>
                    {% for shop in shops %}
                    <li><a href="{% url 'shop_manager:shop_detail' shop.id %}">{{shop.shop_name}}</a>
                        {{shop.opening_hours}} {{shop.id}}
                        <a class="btn btn-secondary" href="{% url 'shop_manager:delete_shop' shop.id %}">Delete</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <table class="table table-striped table-sm">
                    <th>Einkaufsliste</th>
                    <th>Angebotsdatum</th>
                    <th>Entfernen</th>
                    {% for list in shopping_lists %}
                    <tr>
                        <td><a href="{% url 'shop_manager:shopping_list_detail' list.id %}">{{list.list_name}}</a></td>
                        <td>{{list.shopping_date}}</td>
                        <td><a class="btn btn-secondary" href="{% url 'shop_manager:delete_shopping_list' list.id %}">Delete</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="container">
                <form action="{% url 'shop_manager:add_shop' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                    <input type="text" name="shop_name" placeholder="shop">
                    <input type="text" name="opening_hours" placeholder="XX:XX-XX:XX">
                    <input class="btn btn-primary" type="submit" value="add_shop">
                    </div>
                </form>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <form action="{% url 'shop_manager:add_shopping_list' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                    <select class="form-select" name="list_name">
                        {% for shop in shops %}
                        <option value="{{shop.shop_name}}">{{shop.shop_name}}</option>
                        {% endfor %}
                    </select>
                    <input type="date" name="shopping_date">
                    <input class="btn btn-primary" type="submit" value="add_shopping_list">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}