{% extends 'shop_manager/base.html' %}
{% block title %}{{shopping_list.list_name}}{% endblock title %}
{% block content %}
<div class="container">
    <table class="table table-striped table-sm">
        <th>Item Name</th>
        <th>Item status</th>
        <th>Item amount</th>
        <th>Item type</th>
        <th></th>
        <th></th>
        {% if items %}
        {% for item in items %}
        <tr>
            <td>{{item.item_name}}</td>
            <td>{{item.status}}</td>
            <td>{{item.amount_float}}</td>
            <td>{{item.type_translation}}</td>
            <td><a class="btn btn-secondary"
                    href="{% url 'shop_manager:delete_item' shopping_list.id item.id %}">Delete</a></td>
            <td><a class="btn btn-secondary"
                    href="{% url 'shop_manager:change_status' shopping_list.id item.id %}">Gekauft</a></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>Hier könnte ein Item stehen</td>
            <td>Hier wäre der Status</td>
            <td>Menge</td>
            <td>Typ</td>
        </tr>
        {% endif %}
    </table>
</div>
<div class="container">
    <form action="{% url 'shop_manager:add_item' shopping_list.id %}" method="post">
        {% csrf_token %}
        <div class="input-group mb-1">
        <input type="text" name="item_name" placeholder="item">
        <input type="text" name="amount_float" placeholder="put in amount">
        <select class="form-select" name="amount_type">
            <option value="L">Liter</option>
            <option value="KG">Kilogramm</option>
            <option value="S">Stückzahl</option>
        </select>
        <select class="form-select" name="shop_name">
            {% for shop in shops %}
            <option value="{{shop.id}}">{{shop.shop_name}}</option>
            {% endfor %}
        </select>
        <input class="btn btn-primary" type="submit" value="add_item">
        </div>
    </form>
</div>
<div class="container">
    <a class="btn btn-secondary" href="{% url 'shop_manager:index' %}">Return to Index</a>
</div>
{% endblock %}