{% extends 'shop_manager/base.html' %}
{% block title %}{{shop.shop_name}}{% endblock title %}
{% block content %}

<div class="container">
    <table class="table table-striped table-sm">
        <th>Item Name</th>
        <th>Zugewiesener Laden</th>
        <th>Innerhalb Liste</th>
        {% for item in items %}
        <tr>
            <td>{{item.item_name}}</td>
            <td>{{item.shop}}</td>
            <td>{{item.list}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="container">
    <a class="btn btn-secondary" href="{% url 'shop_manager:index' %}">Return to Index</a>
</div>
{% endblock %}